{{#if mine}}
<li class="messages__mine">
    {{#if file}}
    <img class="messages__attach" src={{file}} alt="sended attach">
    {{/if}}
    <p>
        {{content}}
    </p>
    <span class="messages__message-info">
        {{#if is_read}}
        <img class="delivered" src={{deliveredIcon}} alt="delivered-icon" />
        {{/if}}
        <span class="messages__mine-date">{{date time}}</span>
    </span>
</li>
{{else}}
<li>
    {{#if file}}
    <img src={{file}} alt="sended attach">
    {{/if}}
    <p>
        {{content}}
    </p>
    <span class="messages__message-info">
        <span>{{date time}}</span>
    </span>
</li>
{{/if}}
