

<input {{#if isDisabled}}disabled{{/if}} placeholder="{{placeholder}}" type={{type}} 
    id={{name}} name={{name}} class='{{styles.input}}' />
{{!-- {{#if fileInputLabel}}<p class="input__file-name">{{fileInputLabel}}</p>{{/if}} 

   {{#if error}}<span class="input__error">{{errorMessage}}</span>{{/if}} --}}
