<form>
    {{{avatar}}}
  <div class="profile__username">{{name}}</div> 
    <div class="profile__inputs">
        {{{email}}}
        <span class="divider"></span>
        {{{login}}}
        <span class="divider"></span>
        {{{first_name}}}
        <span class="divider"></span>
        {{{second_name}}}
        <span class="divider"></span>
        {{{display_name}}}
        <span class="divider"></span>
        {{{phone}}}
    </div>

    <div class="profile__actions">
        {{{changeInfoButton}}}
        {{{changePasswordButton}}}
        {{{logoutButton}}}
    </div>
</form>
