<li class="chat-list__item">
    {{{avatar}}}
    <div class="chat-list__user-info">
        <p class="chat-list__name">{{title}}</p>
    {{#if last_message}}
        {{#if mine}}
        <p class="chat-list__last-message">
            <span class="chat-list__mine-last-message">Ğ’Ñ‹:</span>
            {{last_message.content}}
            </p>
        {{else}}
            <p class="chat-list__last-message">{{last_message.content}}</p>
        {{/if}}
    </div>
    <div class="chat-list__additional">
        <p class="chat-list__time">{{date last_message.time}}</p>
        {{#if unread_count}}
            <div class="chat-list__message-counter">{{unread_count}}</div>
        {{/if}}
    </div>
    {{/if}}
</li>
