<aside class="sidebar">
    <div class="sidebar__header">
        {{{openProfileButton}}}
        {{{utilMenuIconButton}}}
        {{{searchInput}}}
    </div>
    <ul class="chat-list">
        {{{chats}}} 
    </ul>
    {{{utilMenu}}}
    {{{createChatModal}}}
</aside>
