<div class="register-form-container">
    <form id="#" class="auth-form">
        <h1 class="auth-form__title">Регистрация</h1>
        <div class="auth-form__inputs">
            {{{emailInput}}}
            {{{loginInput}}}
            {{{nameInput}}}
            {{{secondNameInput}}}
            {{{phoneInput}}}
            {{{passwordInput}}}
            {{{passwordRepeatInput}}}
        </div>

        <div class="auth-form__buttons">
            {{{submitButton}}}
            {{{loginButton}}}
        </div>
    </form>
</div>