<form action="#">
    {{{avatar}}}
    <div class="profile__inputs">
        {{{emailInput}}}
        <span class="divider"></span> 
        {{{loginInput}}}
        <span class="divider"></span> 
        {{{nameInput}}}
        <span class="divider"></span>
        {{{secondNameInput}}}
        <span class="divider"></span>
        {{{displayNameInput}}}
        <span class="divider"></span> 
        {{{phoneInput}}}
    </div>
    <div class="profile__actions">
        {{{submitButton}}}
    </div>
    {{{modal}}}
</form>

