<form class="modal">
    <div class="modal__container">
        <h1>{{title}}</h1>
        {{#if type}}
            {{{inputText}}}
        {{else}}
            {{{inputFile}}}
        {{/if}}
        {{{submitButton}}}
    </div>
</form>