<form action="#">
    {{{avatar}}}
    <div class="profile__inputs">
        {{{oldPassword}}}
        <span class="divider"></span>
        {{{newPassword}}}
        <span class="divider"></span>
        {{{newPassword_repeat}}}
    </div>

    <div class="profile__actions">
        {{{submitButton}}}
    </div>
</form>
