<form action="#">
    {{{avatar}}}
    <div class="profile__inputs">
        {{{old_password}}}
        <span class="divider"></span>
        {{{password}}}
        <span class="divider"></span>
        {{{password_repeat}}}
    </div>

    <div class="profile__actions">
        {{{submitButton}}}
    </div>
</form>
