<figure>
    <div class="{{styles.avatar}}">
        <img src='{{avatar}}' alt="user-avatar" />
        {{#if withModal}}
        <div id="upload-avatar-button" class="{{styles.modal}}">
            Поменять <br />
            аватар
        </div>
        {{/if}}
    </div>
    {{#if title}}<figcaption class="{{styles.title}}">{{title}}</figcaption>{{/if}}
</figure>