<div class="chat-content__info-header">
    {{{avatar}}}
    <p class="chat-content__username">{{name}}</p>
    {{{userButton}}}
    {{{userMenu}}}
    {{{addUserModal}}}
    {{{deleteUserModal}}}
</div>
